
@import './base.css';

body{
    font-family: var(--mainColor);
    background-color: #eee;
}

.menu{
    display: none;
}
.header{
    background-color: #fff;
    padding: 20px 0;
}

.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;

}

.header .logo img{
    width: 35px;
}

.header .logo a{
    color: var(--mainColor);
    font-size: 18px;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav ul li .home{
    font-weight: bold;
}

.nav ul li a{
    color: #101928;
}

.Authentication{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Authentication a{
    font-family: var(--subFont);
    border-radius: 10px;
    padding: 5.3541765213012695px 30.18113136291504px;
}

.Authentication .login{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: bold;
}

.Authentication .Register{
    color: #fff;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
}



@media screen and (max-width:992px){
    .nav{
        display: none;
    }

    .menu{
        display: block;
        order: 2;
    }
}